.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.application-fill {
  fill: fb-lime;
  opacity: 1;
}

.light-fill {
  opacity: 0.2;
}

.background-fill {
  fill: fb-black;
}

.secondary-background-fill {
  fill: fb-white;
}

.text-fill {
  fill: fb-white;
}

text {
  pointer-events: none;
  text-length: 32;
}

#project-name {
  text-anchor: start;
}

.counter-text {
  text-anchor: middle;
  x: 0;

  /* the fitbit doesn't support "dominant-baseline: center" so we have to resort to more hacky methods */
  y: 12;
}

.clickable {
  pointer-events: visible;
}

/* TODO add z-index properties to everything rather than relying on implicit order */
.outline-bubble {
  visibility: hidden;
}

.text-button #text {
  font-size: 50;
}

#sub-button #text {
  text-buffer: "-";
}

#plus-button #text {
  text-buffer: "+";
}


/* project selection ui */
#no-project-help {
  display: hidden;
}

.list-item {
  height: 112;
}

.list-item text {
  fill: "white";
  text-anchor: middle;
  x: 50%;
  font-size: 24;
  text-length: 20;
}

.list-item circle {
  cx: 10%;
  cy: 50%;
  r: 15%;
  fill: "white";
}

.line {
  width: 100%;
  height: 6;
  y: 100%-6;
}

.bg {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}