.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.application-fill {
  fill: fb-green;
}

.foreground-fill {
  fill: fb-white;
}

.background-fill {
  fill: fb-black;
}

text {
  pointer-events: none;
  fill: fb-green;
  text-anchor: middle;

  x: 0;

  /* the fitbit doesn't support "dominant-baseline: center" so we have to resort to more hacky methods */
  y: 12;
}

.clickable {
  pointer-events: visible;
}

.counter-bubble {
  fill: fb-white;
}

/* TODO add z-index properties to everything rather than relying on implicit order */
.outline-bubble {
  fill: fb-green;
  visibility: hidden;
}

.text-button #text {
  font-size: 50;
}

#sub-button #text {
  text-buffer: "-";
}

#plus-button #text {
  text-buffer: "+";
}